.events-container {
  margin: auto 0px !important;
  max-width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
}

.steve-sosa-cutout {
  margin-bottom: -16px;
}

.steve-sosa-cutout img {
  max-height: 100%;
  max-width: 35%;
}

@media only screen and (max-width: 600px) {
  .steve-sosa-cutout {
    display: none;
  }
}
