.description {
  color: #303030;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 300 !important;
  letter-spacing: 0.02em;
  line-height: 28px;
}

.home-container {
  font-family: "Cabin", "sans-serif";
  max-width: 100% !important;
  padding: 40px 60px !important;
}

hr {
  background: #303030;
}

.row-style {
  height: auto;
  position: relative;
}

.spacer {
  height: 68px;
  width: 100%;
}

.title {
  font-family: "Cabin", "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.2em;
}

.welcomeNote {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .home-container {
    padding: 35px 20px !important;
  }

  .spacer {
    height: 38px;
  }
}
