.selected-false {
  color: black;
}

.selected-true,
.selected-true:hover {
  color: #ff7700 !important;
  font-weight: 700;
}

.song {
  cursor: pointer;
  display: block;
  margin: 3px 0px;
}

.song:hover {
  color: gray;
}

.songList {
  display: inline-block;
}
