.navbar-toggler {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.navbar {
  background-repeat: no-repeat;
  height: 250px;
}

.navbar-brand {
  color: white !important;
  font-size: 36px;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

#navbarNav {
  position: absolute;
  right: 50px;
  top: 5px;
}

.nav-link,
.navbar-brand {
  color: white !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: #252525 !important;
}

.welcomeNote {
  font-family: "Signika", "sans-serif";
  font-size: 20px;
  max-width: 100%;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}

@media only screen and (max-width: 991px) {
  #navbarNav {
    padding: 0.75rem;
    right: 10px;
    top: 50px;
  }

  .navbar-brand {
    bottom: 0px;
    font-size: 26px;
    left: 15px;
    margin-top: -15px;
    padding: 0px;
    position: absolute;
    top: 10px;
  }

  .welcomeNote {
    display: none;
  }
}
