.jumbotron {
  background: black;
  background-attachment: scroll;
  background-image: url("https://res.cloudinary.com/curtiscdn/image/upload/v1578358766/steve-cover-small_hvjrpw.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0px;
  max-height: 350px;
  max-width: 100% !important;
  overflow: hidden !important;
  padding-bottom: 8rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1rem !important;
  position: relative;
}

.jumbotron-contact {
  background: white;
  background-image: url("https://res.cloudinary.com/curtiscdn/image/upload/v1578358423/crater-lake-pano_hjrnf8.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-events {
  background: white;
  background-image: url("../../images/covers/jacksonville-pano.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-music {
  background: white;
  background-image: url("https://res.cloudinary.com/curtiscdn/image/upload/v1578358425/ocean-1_tpwauj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-gallery {
  background: white;
  background-image: url("https://res.cloudinary.com/curtiscdn/image/upload/v1578358422/old-stage-pano_grkjyh.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-support {
  background: black;
  background-image: url("https://res.cloudinary.com/curtiscdn/image/upload/v1578358441/hawaii-green_hp4dmo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
