.footer {
  background: rgb(17, 17, 17);
  color: white;
  height: 300px;
  position: relative;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.footer-inner {
  padding: 40px 60px;
}
