.modalScroll {
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  margin-right: 20px;
}

.modalScroll:hover {
  color: rgb(30, 30, 30);
}

.modalScrollBtns {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.photo,
.photo:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  word-wrap: break-word;
}

@media only screen and (max-width: 1300px) {
  .photo img {
    max-height: 100% !important;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .photo img {
    margin-right: 0px !important;
    max-height: 100% !important;
    max-width: 100% !important;
    width: 100vw !important;
  }
}
